@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #0b0b0b;
  color: #fff;
  font-family: "Poppins", sans-serif;
}
header {
  display: flex;
  flex-direction: column;
  background-color: #1a1a1a;
}
.up {
  height: 36px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #848181d5;
}

.up p,
.up ol {
  gap: 10px;
  display: flex;
  font-family: Poppins;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #cdcdcd;
  align-items: center;
}
.up,
nav,
.cont1,
.margin {
  margin-left: 10%;
  margin-right: 10%;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
nav ol {
  display: flex;
  justify-content: space-around;
  list-style: none;
  gap: 25px;
  align-items: center;
  text-transform: uppercase;
  font-weight: 600;
}
li {
  cursor: pointer;
  transition: all 0.5s linear;
}
li:hover {
  text-decoration: underline;
}

.s1 {
  background-image: url(imgs/3.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 83vh;
  display: flex;
  align-items: center;
}

.cont1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  width: 696px;
}
.cont1 h5 {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}
.cont1 button {
  width: 185.05px;
  height: 50px;
  background-color: #e1c564;
  padding: 13px 29px 13px 29px;
  font-size: 17px;
  color: white;
  outline: none;
  border: 0.5px solid black;
  cursor: pointer;
  font-family: "Cormorant Garamond", serif;
}
.cont1 h1 {
  font-family: "Cormorant Garamond", serif;
  font-size: 68px;
  font-weight: 700;
  line-height: 68px;
  letter-spacing: -2px;
  text-align: left;
}
.cont1 p {
  font-size: 13px;
  font-weight: 500;
  line-height: 15.6px;
  letter-spacing: 2px;
  text-align: left;
  position: relative;
  left: 33px;
}
.cont1 p::before {
  content: "";
  height: 2px;
  width: 30px;
  color: #e1c564;
  background-color: #e1c564;
  position: absolute;
  top: 6px;
  left: -33px;
}
.s2 {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.esta {
  display: flex;
  align-items: center;
  margin-top: 40px;
}
.esta .cont2 p {
  font-size: 13px;
  font-weight: 500;
  line-height: 15.6px;
  letter-spacing: 2px;
  text-align: left;
  position: relative;
  left: 37px;
}
.esta .cont2 p::before {
  content: "";
  height: 2px;
  width: 35px;
  color: #e1c564;
  background-color: #e1c564;
  position: absolute;
  top: 6px;
  left: -38px;
}

.esta .cont2 button {
  width: 165px;
  height: 43px;
  background-color: #e1c564;
  padding: 13px 29px 13px 29px;
  font-size: 15px;
  color: white;
  outline: none;
  border: 0.5px solid black;
  cursor: pointer;
  font-family: "Cormorant Garamond", serif;
}
.cont2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.esta .cont2 h1 {
  font-family: "Cormorant Garamond", serif;
  font-size: 44px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: -1px;
  text-align: left;
  width: 416.2px;
  height: 88px;
}
.esta img {
  width: 535px;
  height: 430px;
}

.esta .cont2 h2 {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.esta .cont2 h3 {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  padding-left: 19px;
  border-left: 3px solid #e1c564;
}
h3 span {
  font-size: 14px;
  font-weight: 600;
  line-height: 16.8px;
  text-align: left;
  font-family: "Poppins", sans-serif;
}

.barber-Number {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-top: 5%;
}

.f1 {
  height: 15vh;
  background-color: #f1d9b5;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
}

.f1 img {
  filter: grayscale(0.5);
  transition: all 0.5s linear;
}
.f1 img:hover {
  filter: grayscale(0);
}
.fu1 {
  background-image: url(imgs/Section.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 70vh;
  width: 100%;
}
.fu2 {
  background-image: url(imgs/Section2.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 70vh;
  width: 100%;
}

.fu3 {
  display: flex;
  margin-top: 5%;
  margin-bottom: 5%;
  gap: 5%;
}
.fu3 img {
  width: 60%;
}
.cont3 {
  width: 316px;
  height: 329.39px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.cont3 h1 {
  font-family: "Cormorant Garamond", serif;
  font-size: 44px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: -1px;
  position: relative;
}
.cont3 h1::before {
  content: "";
  height: 2px;
  width: 40px;
  color: #e1c564;
  background-color: #e1c564;
  position: absolute;
  top: 105px;
  left: px;
}
.cont3 p {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.cont3 button {
  width: 224.34px;
  height: 44px;
  padding: 12px 23.39px 12px 24px;
  background-color: #e1c564;
  font-size: 17px;
  color: white;
  outline: none;
  border: 0.5px solid black;
  cursor: pointer;
  font-family: "Cormorant Garamond", serif;
}
button {
  border-radius: 3px;
}

.f2 {
  width: 100%;
  background-color: #2f2f2f;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
}
.f3{
display: flex;
align-items: center;
justify-content: center;
gap: 20px;
width: 100%;
height: 320px;
background-color: #1A1A1A;

}
.f3 div{
  width: 320px;
height: 204.16px;


}
.con{
  background-color:#1A1A1A;
}
.padding{
  padding-left: 10%;
  padding-right: 10%;
}
.f{
  margin-left: 10%;
  color: #CDCDCD;
}
.f p{
  font-family: "Poppins",sans-serif;
font-size: 14px;
font-weight: 400;
line-height: 22.4px;

}
.f span{
  font-family: "Poppins",sans-serif;
font-size: 14px;
font-weight: 700;
line-height: 22.4px;
text-align: left;
color: #fff;


}
.f a{
  text-decoration: none;
  color: #CDCDCD;
  font-family: "Poppins";
font-size: 14px;
font-weight: 500;
line-height: 22.4px;
text-align: left;

}
.s h1 ,.t h1, .fo h1{
  font-family: "Cormorant Garamond",serif;
font-size: 23px;
font-weight: 700;
line-height: 27.6px;
border-bottom: 1px solid #FFFFFF3B;
margin-bottom: 10px;
padding-bottom: 10px;

}
.s h2{
  font-family: "Poppins",sans-serif;
font-size: 14px;
font-weight: 600;
line-height: 22.4px;
text-align: left;

}
.s p{
  font-family: "Poppins",sans-serif;
font-size: 14px;
font-weight: 400;
line-height: 22.4px;
text-align: left;
color: #CDCDCD;

}
.t p{
  font-family: "Poppins", sans-serif;
font-size: 14px;
font-weight: 400;
line-height: 22.4px;
text-align: left;
border-bottom: 1px dotted #FFFFFF29;
color: #CDCDCD;
cursor: pointer;


}



.fo{
  margin-right: 10%;
}

.fo p{
  font-family: "Poppins",sans-serif;
font-size: 14px;
font-weight: 400;
line-height: 22.4px;
text-align: left;
color: #CDCDCD;

}
.input{
  display: flex;
  align-items: flex-start;
  gap: 5px;
  margin-top: 10px;
}
.input input{
  width: 207.89px;
height: 40px;
font-family: "Poppins", sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: left;


}
.input button{
border: none;
outline: none;
height: 44px;
}
.input button img{
  height: 44px;
}